{% extends "base.html" %}
{% block title %}Prova{% endblock %}
{% block styles %}
<link href={{ url_for('static', filename='/css/show_question.css') }} rel = "stylesheet" type="text/css">
<link href={{ url_for('static', filename='/css/show_question.css') }} rel = "stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="centralizarquestion">
  <div class="centralizarquestiondentro container-fluid">
    <fieldset class="form-group">
      <legend class="mt-4">Tradução</legend>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onclick="traducao()">
        <label class="form-check-label" for="flexSwitchCheckDefault">EN</label>
      </div>
    </fieldset>
    <div class="card border-primary mb-3" style="width: 90%;">
      <div class="card-header"><h4 class="card-header" id = "question">{{question['question']}}</h4></div>
        <div class="card-body">
          <ul class="nav nav-tabs" style="flex-direction: column;" role="tablist">
            <li class="nav-item" role="presentation">
                {% for letter,answers in question['answers'].items():%}
                      <textarea  class="nav-link form-control" style="resize: none;text-align: left; cursor: pointer;overflow:auto;" data-bs-toggle="tab"  aria-selected="false" role="tab" type="submit" name="{{letter}}" readonly onclick="resposta()">{{letter}}) {{answers}}</textarea>
                {% endfor %}
            </li>
          </ul>
        </div>
      </div>
      <div class = "controle">
        <form id= "back_question" method="post" action="/{{prova}}/{% if numquestion > 1 %}{{numquestion-1}}{% else %}{{numquestion}}{% endif %}">
          <input  class="btn btn-info" type="submit" name="acao" value="<">
        </form>
        <form id="resposta" method="post" action="">
          <input  class="btn btn-success" type="submit" name="resposta" value="Resposta">
        </form>
        <form id= "next_question" method="post" action="/{{prova}}/{%if numquestion < 49%}{{numquestion+1}}{%else%}{{numquestion}}{% endif %}">
          <input  class="btn btn-info" type="submit" name="acao" value=">">
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block scripts %}
<script type="text/javascript" src={{ url_for('static', filename='js/question.js') }}></script>
<script>
  function traducao(){
    let switch_idioma = document.getElementsByClassName("form-check-input")[0] ;
    {% for letter,answer in prova_pt['answers'].items():%}
    let {{letter}} = document.getElementsByName('{{letter}}')[0]; 
    {% endfor %}
    let label_idioma = document.getElementsByClassName("form-check-label")[0]
    let question = document.getElementById("question")
    let answers = document.getElementsByClassName("nav-link form-control");
    console.log({{prova_pt|tojson}})
    if(switch_idioma.checked){
        label_idioma.innerHTML = "PT";
        question.innerHTML = "{{prova_pt['question'].replace('\n','')}}";
        {% for letter,answer in prova_pt['answers'].items():%}
        {{letter}}.innerHTML = "{{letter}}){{answer}}";
        {% endfor %}
      }
    else{
        label_idioma.innerHTML = "EN"
        question.innerHTML = "{{question['question'].replace('\n','')}}";
        {% for letter,answer in question['answers'].items():%}
        {{letter}}.innerHTML = "{{letter}}){{answer}}";
        {% endfor %}
    }
}
</script>
{% endblock %}